*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 95%;
    /* background-color: red; */
    margin: 0px auto;
}

.ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.ul li{
    margin: 0px 10px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.ul a{text-decoration: none;
    font-size: 13px;
color: black;}

.ul a:hover{text-decoration: underline 2.5px;
    text-underline-offset: 2px;
color: black;}

.slider{width: 100%;
position: relative;}

.container2{position: relative;}
.captioncont{position: absolute;
    width: 500px;
top: 15%;
left: 5%;}

.btn{padding: 0 20px;
border: 2px solid black;}

.alignbtm{display: flex;
    justify-content: center;
    width: 100px;
    font-size: 13.5px;
    font-weight: bold;
flex-direction: column;
align-items: center;
text-align: center;
text-decoration: none;
color: black;}

.alignbtm:hover{color: black;
text-decoration: underline;}

.center{display: flex;
    margin-top: 70px;
justify-content: space-between;
padding: 0 120px;}

.sec3{align-items: center;
    justify-content: space-between;
    padding: 0 ;
    width: 340px;
}
.contsec3{display: flex;
justify-content: center;}




